 aws_region
 = "ap-south-1"
 instance_type = "t3.micro"
 ssh_key_name
 = "devops-key"
 ssh_public_key = "ssh-ed25519 AAAA... paste your ~/.ssh/devops-ec2.pub ..."
 # This must match the CI image name
 docker_image
 = "yourdockerhubusername/devops-webapp:latest"